/* Login.module.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.loginBackground {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(219deg, rgba(11, 9, 9, 0.4) 26.69%, rgba(0, 84, 94, 0.4) 85.58%), url(../../assets/images/login_bg.png);
    background-size: cover;
}


.loginLogo {
    width:79px;           
    height: 65px;
    position: relative;
    background: url(../../assets/logos/logo_f.png);
    background-size: cover;
}

.loginLogoText {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.16em;

}

.loginForm {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    align-items: center;
    height: 100%;
}


.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 25px 40px 25px;
    gap: 15px;
    max-width: 553px;
max-height: 600px;
    background: rgba(14, 11, 11, 0.2);
    backdrop-filter: blur(5.1px);
    border-radius: 10px;
}

.inputField {
    box-sizing: border-box;
    width: 333px;
    height: 45px;
    padding: 10px 20px;
    color: black;
    background: #FFFFFF;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

.submitButton {
    width: 100%;
    height: 45px;
    background: var(--color-secondary);
    border-radius: 5px;
    color: var(--PrimaryColor, #FEFEFE);
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 22.4px */
letter-spacing: 4.2px;
}


.TabsList {
    display: flex;
    
    flex-grow: 1;
    color: #FFFFFF;
    background-color: rgba(14, 11, 11, 0);
    align-items: flex-end;
    justify-content: center;
    height: 43px;
    width: 100%;
}

.TabBtn {
    display: flex;
    border-radius: 8px;
    border-color: #FEFEFE;
    
    width: 170px;
    justify-content: center;
    align-items: center;
}




